*{
    font-family: arial;
    box-sizing:border-box;
    margin: 0px;
}
/* Header */
nav{
    border:1px solid;
    display:flex;
    justify-content: end;
    height:50px;
    background-color: burlywood;
    position: fixed;
    top: 0px;
    left:0px;
    width: 100%;
    z-index: 3;
}
.logo{
    margin: auto 10px auto 10px ;
    width: 40px;
    height: 40px;
    
}
ul{
    width: 100%;
    display: flex;
    justify-content: end;
}
li{
    list-style: none;
    margin: 15px 30px 10px 10px;
    
}
li:hover{
    color: cadetblue;
    text-decoration: underline;
}

/* article */
.section1{
    height:450px;
    width: 100%;
    display: flex;
    justify-content:center;
    align-items:center; 
}
.hero_banner{
    border:3px solid;
    position:absolute;
    margin-top:50px;
    width:100%;
    height:400px;
    /* opacity:76%; */
    background: linear-gradient(rgba(0,0,0, 0.5) rgba(0, 0, 0, 0.5)), url(../img/gambar\ wayang.jpg);
    z-index:1; 
}
.hello_text{
    z-index:2;
    font-family:helvetica;
    font-size: 30px;
    text-align:center;
}
.title{
    color: blanchedalmond;
    text-shadow: 10px 10px 7px;
}
/* data section */
.section2{
    margin:10px;
    gap:5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color:lightgoldenrodyellow;
}
.items{
    flex-grow: 1;
    border:3px solid;
    border-radius: 9px;
    padding:10px;
    margin:10px;
    height:200px;
    width:250px
}
.items:hover{
    background-color: lightsalmon;
}
.judul{
    text-align: center;
    border:2px solid;
    margin-bottom:5px;
    background-color: rgba(228, 116, 25, 0.788);
}
.content{
    padding:5px;
    text-align:justify;
}

